<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.api.restaurant.RestaurantMapper">

    <update id="increaseReviewCountAndRate" parameterType="com.example.api.review.dto.ReviewDTO">
        update restaurant
        set review_count = review_count + 1,
            review_avg   = ((review_count - 1) * review_avg + #{rate}) / review_count
        where restaurant_id = #{restaurantId}
    </update>

    <update id="decreaseReviewCountAndRate" parameterType="com.example.api.review.dto.ReviewDTO">
        update restaurant
        set review_count =
                case
                    when review_count >= 1 then review_count - 1
                    else 0 end,
            review_avg   =
                case
                    when review_count >= 1 then ((review_count + 1) * review_avg - #{rate}) / review_count
                    else 0 end
        where restaurant_id = #{restaurantId};
    </update>

    <insert id="save" parameterType="com.example.api.restaurant.dto.RestaurantDTO" useGeneratedKeys="true"
            keyProperty="restaurantId">
        INSERT INTO restaurant(owner_id, name, category, content, phone, capacity, open_time, last_order_time, address,
                               detail_address, lunch_price, dinner_price, saved_count, review_count, review_avg)
        VALUES (#{ownerId}, #{name}, #{category}, #{content}, #{phone}, #{capacity}, #{openTime}, #{lastOrderTime},
                #{address}, #{detailAddress}, #{lunchPrice}, #{dinnerPrice}, #{savedCount}, #{reviewCount},
                #{reviewAvg});
    </insert>

    <select id="deleteAll">
        DELETE
        FROM restaurant;
    </select>

    <select id="findAll" resultType="com.example.api.restaurant.dto.RestaurantDTO">
        SELECT *
        FROM restaurant;
    </select>
</mapper>
