<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.api.reservationavailabledate.ReservationAvailableDateMapper">
    <insert id="save" parameterType="com.example.api.reservationavailabledate.ReservationAvailableDateDTO"
            useGeneratedKeys="true"
            keyProperty="reservationAvailableDateId">
        INSERT INTO reservation_available_date(restaurant_id, begin_date, end_date)
        VALUES (#{restaurantId}, #{beginDate}, #{endDate});
    </insert>

    <update id="update" parameterType="com.example.api.reservationavailabledate.ReservationAvailableDateDTO">
        UPDATE reservation_available_date
        SET begin_date = #{beginDate},
            end_date   = #{endDate}
        WHERE restaurant_id = #{restaurantId}
    </update>

    <select id="findAll" resultType="com.example.api.reservationavailabledate.ReservationAvailableDateDTO">
        SELECT *
        FROM reservation_available_date;
    </select>
</mapper>
