<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.api.reservation.ReservationMapper">

    <resultMap id="reservation" type="com.example.api.reservation.ReservationDTO">
        <id property="reservationId" column="RESERVATION_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="restaurantId" column="RESTAURANT_ID"/>
        <result property="paymentId" column="PAYMENT_ID"/>
        <result property="time" column="TIME"/>
        <result property="numberOfPeople" column="NUMBER_OF_PEOPLE"/>
        <result property="memo" column="MEMO"/>
        <result property="status" column="STATUS"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
    </resultMap>

    <resultMap id="myReservation" type="com.example.api.reservation.dto.MyReservationDTO">
        <id property="reservationId" column="RESERVATION_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="restaurantId" column="RESTAURANT_ID"/>
        <result property="restaurantName" column="RESTAURANT_NAME"/>
        <result property="restaurantCategory" column="RESTAURANT_CATEGORY"/>
        <result property="restaurantAddress" column="RESTAURANT_ADDRESS"/>
        <result property="restaurantImage" column="RESTAURANT_IMAGE"/>
        <result property="paymentId" column="PAYMENT_ID"/>
        <result property="time" column="TIME"/>
        <result property="numberOfPeople" column="NUMBER_OF_PEOPLE"/>
        <result property="memo" column="MEMO"/>
        <result property="status" column="STATUS"/>
        <result property="isReview" column="is_review"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
    </resultMap>

    <select id="getMyReservationsByStatus" resultMap="myReservation">
        SELECT rez.RESERVATION_ID,
               rez.MEMBER_ID,
               rez.RESTAURANT_ID,
               rt.NAME                                                as RESTAURANT_NAME,
               rt.CATEGORY                                            as RESTAURANT_CATEGORY,
               rt.ADDRESS                                             as RESTAURANT_ADDRESS,
               ri.PATH                                                as RESTAURANT_IMAGE,
               rez.PAYMENT_ID,
               rez.TIME,
               rez.NUMBER_OF_PEOPLE,
               rez.MEMO,
               rez.STATUS,
               EXISTS (SELECT *
                       FROM review
                       WHERE review.RESERVATION_ID = rez.RESERVATION_ID
                         AND review.MEMBER_ID = #{memberId}
                         AND review.RESTAURANT_ID = rt.RESTAURANT_ID) AS is_review,
               rez.CREATED_DATE,
               rez.UPDATED_DATE
        FROM reservation rez
                 INNER JOIN restaurant rt on rt.RESTAURANT_ID = rez.RESTAURANT_ID
                 INNER JOIN restaurant_image ri ON ri.RESTAURANT_ID = rt.RESTAURANT_ID AND ri.type = 'REPRESENTATIVE'
        WHERE rez.MEMBER_ID = #{memberId}
          AND rez.STATUS = #{status}
        ORDER BY rez.CREATED_DATE DESC;
    </select>

    <insert id="save" parameterType="com.example.api.reservation.ReservationDTO" useGeneratedKeys="true"
            keyProperty="reservationId">
        INSERT INTO reservation(restaurant_id, member_id, payment_id, time, number_of_people, memo, status)
        VALUES (#{restaurantId}, #{memberId}, #{paymentId}, #{time}, #{numberOfPeople}, #{memo}, #{status});
    </insert>

    <select id="getReservation" resultType="com.example.api.reservation.ReservationDTO">
        SELECT *
        FROM reservation
        WHERE reservation_id = #{reservationId}
    </select>

    <select id="findByRestaurantIdAndStatusAndSearchDateAndGreaterThanOrEqualToVisitTime"
            parameterType="com.example.api.reservation.dto.condition.ReservationSearchCond"
            resultType="com.example.api.reservation.ReservationDTO">
        SELECT *
        FROM reservation rez
                 INNER JOIN restaurant rt on rt.RESTAURANT_ID = rez.RESTAURANT_ID
        WHERE rez.STATUS = #{status}
          AND cast(rez.TIME as DATE) = #{searchDate}
          AND cast(rez.TIME as TIME) >= #{visitTime};
    </select>

    <select id="findByDuplicateSearchCond"
            parameterType="com.example.api.reservation.dto.condition.DuplicateReservationSearchCond"
            resultType="com.example.api.reservation.ReservationDTO">
        SELECT *
        FROM reservation rez
        WHERE rez.RESTAURANT_ID = #{restaurantId}
          AND rez.TIME = #{time};
--             FOR UPDATE;
    </select>

    <update id="updateStatusById">
        UPDATE reservation
        SET STATUS = #{status}
        WHERE reservation_id = #{reservationId}
    </update>

    <resultMap id="detailReservation" type="com.example.api.reservation.dto.ReservationWithRestaurantAndPaymentDTO">
        <id property="reservationId" column="RESERVATION_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="time" column="TIME"/>
        <result property="numberOfPeople" column="NUMBER_OF_PEOPLE"/>
        <result property="memo" column="MEMO"/>
        <result property="status" column="STATUS"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
        <association property="restaurant" javaType="com.example.api.restaurant.dto.RestaurantDTO">
            <id property="restaurantId" column="RESTAURANT_ID"/>
            <result property="ownerId" column="RESTAURANT_OWNER_ID"/>
            <result property="name" column="RESTAURANT_NAME"/>
            <result property="category" column="RESTAURANT_CATEGORY"/>
            <result property="content" column="RESTAURANT_CONTENT"/>
            <result property="phone" column="RESTAURANT_PHONE"/>
            <result property="tablePersonMax" column="RESTAURANT_TABLE_PERSON_MAX"/>
            <result property="tablePersonMin" column="RESTAURANT_TABLE_PERSON_MIN"/>
            <result property="openTime" column="RESTAURANT_OPEN_TIME"/>
            <result property="lastOrderTime" column="RESTAURANT_LAST_ORDER_TIME"/>
            <result property="closeTime" column="RESTAURANT_CLOSE_TIME"/>
            <result property="address" column="RESTAURANT_ADDRESS"/>
            <result property="detailAddress" column="RESTAURANT_DETAIL_ADDRESS"/>
            <result property="lunchPrice" column="RESTAURANT_LUNCH_PRICE"/>
            <result property="dinnerPrice" column="RESTAURANT_DINNER_PRICE"/>
            <result property="savedCount" column="RESTAURANT_SAVED_COUNT"/>
            <result property="reviewCount" column="RESTAURANT_REVIEW_COUNT"/>
            <result property="reviewAvg" column="RESTAURANT_REVIEW_AVG"/>
        </association>
        <association property="payment" javaType="com.example.api.payment.domain.PaymentDTO">
            <id property="paymentId" column="PAYMENT_ID"/>
            <result property="impUid" column="PAYMENT_IMP_UID"/>
            <result property="payMethod" column="PAYMENT_PAY_METHOD"/>
            <result property="price" column="PAYMENT_PRICE"/>
            <result property="status" column="PAYMENT_STATUS"/>
        </association>
    </resultMap>

    <select id="findMyDetailReservationById" resultMap="detailReservation">
        SELECT rez.RESERVATION_ID,
               rez.MEMBER_ID,
               rez.TIME,
               rez.NUMBER_OF_PEOPLE,
               rez.MEMO,
               rez.STATUS,
               rez.CREATED_DATE,
               rez.UPDATED_DATE,
               rez.RESTAURANT_ID,
               rt.OWNER_ID         AS RESTAURANT_OWNER_ID,
               rt.NAME             AS RESTAURANT_NAME,
               rt.CATEGORY         AS RESTAURANT_CATEGORY,
               rt.CONTENT          AS RESTAURANT_CONTENT,
               rt.PHONE            AS RESTAURANT_PHONE,
               rt.TABLE_PERSON_MAX AS RESTAURANT_TABLE_PERSON_MAX,
               rt.TABLE_PERSON_MIN AS RESTAURANT_TABLE_PERSON_MIN,
               rt.OPEN_TIME        AS RESTAURANT_OPEN_TIME,
               rt.LAST_ORDER_TIME  AS RESTAURANT_LAST_ORDER_TIME,
               rt.CLOSE_TIME       AS RESTAURANT_CLOSE_TIME,
               rt.ADDRESS          AS RESTAURANT_ADDRESS,
               rt.DETAIL_ADDRESS   AS RESTAURANT_DETAIL_ADDRESS,
               rt.LUNCH_PRICE      AS RESTAURANT_LUNCH_PRICE,
               rt.DINNER_PRICE     AS RESTAURANT_DINNER_PRICE,
               rt.SAVED_COUNT      AS RESTAURANT_SAVED_COUNT,
               rt.REVIEW_COUNT     AS RESTAURANT_REVIEW_COUNT,
               rt.REVIEW_AVG       AS RESTAURANT_REVIEW_AVG,
               rez.PAYMENT_ID,
               p.IMP_UID           AS PAYMENT_IMP_UID,
               p.PAY_METHOD        AS PAYMENT_PAY_METHOD,
               p.PRICE             AS PAYMENT_PRICE,
               p.STATUS            AS PAYMENT_STATUS
        FROM reservation rez
                 INNER JOIN restaurant rt ON rt.RESTAURANT_ID = rez.RESTAURANT_ID
                 INNER JOIN payment p ON p.PAYMENT_ID = rez.PAYMENT_ID
        WHERE rez.RESERVATION_ID = #{reservationId};
    </select>

    <select id="findDetailByIds" resultMap="detailReservation">
        SELECT rez.RESERVATION_ID,
        rez.MEMBER_ID,
        rez.TIME,
        rez.NUMBER_OF_PEOPLE,
        rez.MEMO,
        rez.STATUS,
        rez.CREATED_DATE,
        rez.UPDATED_DATE,
        rez.RESTAURANT_ID,
        rt.OWNER_ID AS RESTAURANT_OWNER_ID,
        rt.NAME AS RESTAURANT_NAME,
        rt.CATEGORY AS RESTAURANT_CATEGORY,
        rt.CONTENT AS RESTAURANT_CONTENT,
        rt.PHONE AS RESTAURANT_PHONE,
        rt.TABLE_PERSON_MAX AS RESTAURANT_TABLE_PERSON_MAX,
        rt.TABLE_PERSON_MIN AS RESTAURANT_TABLE_PERSON_MIN,
        rt.OPEN_TIME AS RESTAURANT_OPEN_TIME,
        rt.LAST_ORDER_TIME AS RESTAURANT_LAST_ORDER_TIME,
        rt.CLOSE_TIME AS RESTAURANT_CLOSE_TIME,
        rt.ADDRESS AS RESTAURANT_ADDRESS,
        rt.DETAIL_ADDRESS AS RESTAURANT_DETAIL_ADDRESS,
        rt.LUNCH_PRICE AS RESTAURANT_LUNCH_PRICE,
        rt.DINNER_PRICE AS RESTAURANT_DINNER_PRICE,
        rt.SAVED_COUNT AS RESTAURANT_SAVED_COUNT,
        rt.REVIEW_COUNT AS RESTAURANT_REVIEW_COUNT,
        rt.REVIEW_AVG AS RESTAURANT_REVIEW_AVG,
        rez.PAYMENT_ID,
        p.IMP_UID AS PAYMENT_IMP_UID,
        p.PAY_METHOD AS PAYMENT_PAY_METHOD,
        p.PRICE AS PAYMENT_PRICE,
        p.STATUS AS PAYMENT_STATUS
        FROM reservation rez
        INNER JOIN restaurant rt ON rt.RESTAURANT_ID = rez.RESTAURANT_ID
        INNER JOIN payment p ON p.PAYMENT_ID = rez.PAYMENT_ID
        WHERE reservation_id IN (
        <foreach collection="noShowIds" item="noShowId" separator=",">
            #{noShowId}
        </foreach>
        );
    </select>

    <update id="bulkUpdateStatusByIds">
        UPDATE reservation
        SET STATUS = #{status}
        WHERE reservation_id IN (
        <foreach collection="noShowIds" item="noShowId" separator=",">
            #{noShowId}
        </foreach>
        );
    </update>

    <select id="findByCond" resultType="com.example.api.reservation.ReservationDTO">
        <if test="searchDate != null and status != null">
            SELECT *
            FROM reservation rez
            WHERE #{searchDate} >= cast(rez.TIME as DATE)
            AND rez.STATUS = #{status};
        </if>
    </select>

    <select id="findAll" resultType="com.example.api.reservation.ReservationDTO">
        SELECT *
        FROM reservation;
    </select>
</mapper>
