<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.api.owner.OwnerMapper">
    <resultMap id="owner" type="com.example.api.owner.dto.Owner">
        <id property="ownerId" column="OWNER_ID"/>
        <result property="name" column="NAME"/>
        <result property="imagePath" column="IMAGE_PATH"/>
        <result property="email" column="EMAIL"/>
        <result property="oauthServer" column="OAUTH_SERVER"/>
        <result property="status" column="STATUS"/>
        <result property="businessRegistrationNumber" column="BUSINESS_REGISTRATION_NUMBER"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
    </resultMap>

    <insert id="createOwner" parameterType="com.example.api.owner.dto.Owner">
        INSERT INTO owner (NAME, IMAGE_PATH, EMAIL, OAUTH_SERVER, STATUS, BUSINESS_REGISTRATION_NUMBER)
        VALUES (#{name}, #{imagePath}, #{email}, #{oauthServer}, #{status}, #{businessRegistrationNumber});
    </insert>

    <select id="getOwner" parameterType="long" resultMap="owner">
        SELECT OWNER_ID,
               NAME,
               IMAGE_PATH,
               EMAIL,
               OAUTH_SERVER,
               STATUS,
               BUSINESS_REGISTRATION_NUMBER,
               CREATED_DATE,
               UPDATED_DATE
        FROM owner
        WHERE OWNER_ID = #{ownerId}
    </select>

    <update id="deleteOwner">
        UPDATE owner
        SET STATUS = #{status}
        WHERE OWNER_ID = #{ownerId}
    </update>

    <select id="findByEmail" parameterType="string" resultMap="owner">
        SELECT OWNER_ID,
               NAME,
               IMAGE_PATH,
               EMAIL,
               OAUTH_SERVER,
               STATUS,
               BUSINESS_REGISTRATION_NUMBER,
               CREATED_DATE,
               UPDATED_DATE
        FROM owner
        WHERE EMAIL = #{email}
    </select>

    <select id="isExistByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM owner
                      WHERE email = #{email})
    </select>

    <select id="findAll" resultMap="owner">
        SELECT *
        FROM owner;
    </select>
</mapper>