<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.api.comment.CommentMapper">

    <select id="isPresentComment" parameterType="long" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM comment
                      WHERE REVIEW_ID = #{reviewId})
    </select>

    <insert id="createComment" parameterType="com.example.api.comment.dto.CommentDTO">
        INSERT INTO comment(REVIEW_ID, OWNER_ID, CONTENT)
        VALUES (#{reviewId}, #{ownerId}, #{content})
    </insert>

    <select id="getComment" resultType="com.example.api.comment.dto.CommentDTO">
        SELECT * FROM comment
        WHERE COMMENT_ID = #{commentId}
    </select>

    <update id="updateComment" parameterType="com.example.api.comment.dto.CommentDTO">
        UPDATE comment
        SET CONTENT = #{content}
        WHERE COMMENT_ID = #{commentId}
    </update>

    <delete id="deleteComment" parameterType="long">
        DELETE
        FROM comment
        WHERE COMMENT_ID = #{commentId}
    </delete>

</mapper>
